@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Koulen&family=Marck+Script&display=swap');
$mainFont: 'Marck Script', cursive;
$secondFont: 'Koulen', cursive;
$thirdFont: 'Great Vibes', cursive;