$maincolor:#0096d2;
$secondaryColor:rgba(48,89,199,1.00);
$keycolor:rgba(204,187,30,1.00);
$color:#254e85;
$blanco:#f7f7f7;
$claro:#A2A611;
$oscuro: rgba(14, 5, 5, 0.938);
$alt: rgba(162, 163, 149, 0.521);
$negro:rgba(14, 5, 5, 0)
